<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.crm.mapper.workbench.ActivityRemarkMapper">
  <resultMap id="BaseResultMap" type="com.gdut.crm.pojo.workbench.ActivityRemark">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="edit_flag" jdbcType="CHAR" property="editFlag" />
    <result column="activity_id" jdbcType="CHAR" property="activityId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_activity_remark
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gdut.crm.pojo.workbench.ActivityRemark">
    insert into t_activity_remark (id, note_content, create_time, 
      create_by, edit_time, edit_by, 
      edit_flag, activity_id)
    values (#{id,jdbcType=CHAR}, #{noteContent,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, #{editBy,jdbcType=VARCHAR}, 
      #{editFlag,jdbcType=CHAR}, #{activityId,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gdut.crm.pojo.workbench.ActivityRemark">
    update t_activity_remark
    set note_content = #{noteContent,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      edit_by = #{editBy,jdbcType=VARCHAR},
      edit_flag = #{editFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, note_content, create_time, create_by, edit_time, edit_by, edit_flag, activity_id
    from t_activity_remark
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, note_content, create_time, create_by, edit_time, edit_by, edit_flag, activity_id
    from t_activity_remark
  </select>
  <select id="selectByActivityKey" resultMap="BaseResultMap">
    select r.id, note_content, r.create_time,u.name as create_by, r.edit_time,u1.name as edit_by, edit_flag,a.name as activity_id
    from t_activity_remark r
    join t_user u on u.id = r.create_by
    left join t_user u1 on u1.id =r. edit_by
    join t_activity a on a.id = r.activity_id
    where r.activity_id = #{id}
    order by r.edit_time,r.create_time desc
  </select>
</mapper>