<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.crm.mapper.workbench.ClueRemarkMapper">
  <resultMap id="BaseResultMap" type="ClueRemark">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_flag" jdbcType="CHAR" property="editFlag" />
    <result column="clue_id" jdbcType="CHAR" property="clueId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_clue_remark
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="ClueRemark">
    insert into t_clue_remark (id, note_content, create_by, 
      create_time, edit_by, edit_time, 
      edit_flag, clue_id)
    values (#{id,jdbcType=CHAR}, #{noteContent,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=CHAR}, #{editBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, 
      #{editFlag,jdbcType=CHAR}, #{clueId,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ClueRemark">
    update t_clue_remark
    set note_content = #{noteContent,jdbcType=VARCHAR},
      edit_by = #{editBy,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      edit_flag = #{editFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, clue_id
    from t_clue_remark
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, clue_id
    from t_clue_remark
  </select>
  <select id="selectByClueKey" resultMap="BaseResultMap">
    select r.id, note_content, u.name as create_by, r.create_time,u1.name as edit_by, r.edit_time, edit_flag, clue_id
    from t_clue_remark r
    join t_user u on u.id=r.create_by
    left join t_user u1 on u1.id=r.edit_by
    where clue_id = #{id}
    order by r.create_time desc
  </select>
  <select id="selectClueRemarkToTransfer" resultMap="BaseResultMap">
    select id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, clue_id
    from t_clue_remark
    where clue_id = #{id}
  </select>
  <delete id="deleteByClueId">
    delete from t_clue_remark
    where clue_id=#{clueId}
  </delete>
</mapper>