<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.crm.mapper.workbench.ContactsActivityRelationMapper">
  <resultMap id="BaseResultMap" type="ContactsActivityRelation">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="contacts_id" jdbcType="CHAR" property="contactsId" />
    <result column="activity_id" jdbcType="CHAR" property="activityId" />
  </resultMap>
  <delete id="deleteByActivityId" parameterType="java.lang.String">
    delete from t_contacts_activity_relation
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="ContactsActivityRelation">
    insert into t_contacts_activity_relation (id, contacts_id, activity_id
      )
    values (#{id,jdbcType=CHAR}, #{contactsId,jdbcType=CHAR}, #{activityId,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="ContactsActivityRelation">
    update t_contacts_activity_relation
    set contacts_id = #{contactsId,jdbcType=CHAR},
      activity_id = #{activityId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, contacts_id, activity_id
    from t_contacts_activity_relation
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, contacts_id, activity_id
    from t_contacts_activity_relation
  </select>
  <insert id="insertRelationByTransfer">
    insert into t_contacts_activity_relation (id, contacts_id, activity_id)
    <foreach collection="relations" item="relation" separator="," open="value">
      (#{relation.id,jdbcType=CHAR}, #{relation.contactsId,jdbcType=CHAR}, #{relation.activityId,jdbcType=CHAR})
    </foreach>
  </insert>
  <delete id="deleteByContactsId">
    delete from t_contacts_activity_relation
    where contacts_id in
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>
  <insert id="insertContacts">
    insert t_contacts_activity_relation
    values
    <foreach collection="list" item="l" separator=",">
      (#{l.id},#{l.contactsId},#{l.activityId})
    </foreach>
  </insert>
</mapper>